<!DOCTYPE html>
<html lang="en">
  <link href="/css/body.css" type="text/css" rel="stylesheet" />
  <link href="/css/sign_in.css" type="text/css" rel="stylesheet" />
  <head>
    <meta charset="UTF-8" />
    <title>sign in</title>
  </head>
  <body>
    <div class="login_box">
      <div><h1>Sign in</h1></div>
      <form action="/auth/login" method="post" onsubmit="return check()">
        <input type="text" name="email" id="email" placeholder=" Email" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder=" Password"
        />
        <input type="submit" value="Sign in" />
      </form>
    </div>
  </body>
  <script>
    function check() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      if (email === "") {
        alert("이메일을 입력해 주세요.");
        document.getElementById("email").focus();
        return false;
      } else if (password === "") {
        alert("비밀번호를 입력해주세요.");
        document.getElementById("password").focus();
        return false;
      } else if (!check_email_format(email)) {
        alert("이메일 형식이 잘못되었습니다.");
        document.getElementById("email").focus();
        return false;
      } else if (password === "") {
        alert("비밀번호를 입력해주세요.");
        document.getElementById("password").focus();
        return false;
      } else {
        return true;
      }
    }
    function check_email_format() {
      var email = document.getElementById("email").value;
      var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;

      if (!reg_email.test(email)) {
        return false;
      } else {
        return true;
      }
    }
  </script>
  <!-- <script src="js/sign_in.js"></script> -->
</html>
